.pedidos-container {

  margin: 0 auto;
  padding: 2rem;
  font-family: sans-serif;
  background-color: #eeeeee;
}

.pedidos-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.pedido-card {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.075);
}

.pedido-info p {
  margin: 0.2rem 0;
  font-size: 0.95rem;
  text-align: left;
  color: #333;
}

.detalles-title {
  margin-top: 1rem;
  font-weight: bold;
  color: #555;
}

.detalles-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.detalle-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  margin-bottom: 1rem;
}

.detalle-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.detalle-info {
  display: flex;
  flex-direction: column;
}

.detalle-nombre {
  font-weight: bold;
  color: #222;
  margin-bottom: 0.3rem;
}

.detalle-precio {
  color: #666;
  font-size: 0.9rem;
}

.no-pedidos {
  text-align: center;
  color: #888;
  font-size: 1rem;
}
