.carrito-container {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff63;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: fadeSlideUp 0.7s ease forwards;
}

.btn-confirmar {
    background-color: #012c57;
    color: white;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carrito-titulo {
    font-size: 2rem;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 2rem;
}

.carrito-vacio {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}

.carrito-listado {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carrito-item {
    display: flex;
    gap: 20px;
      background-color: #ffffff63;
    padding: 1rem;
    border-radius: 12px;
    align-items: center;
    transition: transform 0.3s ease;
}



.carrito-item:hover {
    transform: scale(1.02);
}

.carrito-imagen {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

.carrito-detalles {
    flex: 1;
    text-align: left;
}

.carrito-detalles h3 {
    justify-content: flex-start;
    margin: 0 0 5px;
    font-size: 1.2rem;
    color: #3d3d3d;
}

.carrito-detalles p {
    margin: 5px 0;
    font-style: bold;
    color: #3a3a3a;
}

.btn-eliminar {
    margin-top: 10px;
    background-color: #ff4531;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-eliminar:hover {
    background-color: #c0392b;
}

.carrito-total {
    text-align: right;
    margin-top: 1.5rem;
}

.btn-vaciar {
    background-color: #4599ec;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-vaciar:hover {
    background-color: #2c3e50;
}

@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}