/* Contenido principal */
.container-principal {
    padding-left: 150px;
    padding-right: 150px;
    height: 100vh;
}

.contenido-usuario {
    flex: 1;
    padding: 15px;
    border-radius: 8px;
}

/* Sidebar */
.sidebar-usuario {
    width: 250px;
    padding: 15px;
    text-align: left;
    height: 100vh;
    border-radius: 8px;
}

.layout-usuario {
    display: flex; 

}

.btn-logout {
    margin: 20px;
    background-color: #fa7c7c;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ec7979;
    
}

.btn-logout:hover {
    background-color: #97000094;
}


.lista-lateral {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-lateral li {
  padding: 10px;
  cursor: pointer;
}

.lista-lateral li:hover {
  background-color: #a51414;
}

.lista-lateral a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.lista-lateral li:hover {
    border-bottom: 1px solid #000000;
     background-color: #ffffff63;
    border-radius: 12px;
}



/* Responsive para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .layout-usuario {
        flex-direction: column;
    }

    .sidebar-usuario {
        width: 100%;
    }

    .contenido-usuario {
        width: 100%;
    }
}