.container-principal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente */
    box-sizing: border-box;
}

.contenido-usuario {
    flex: 1;
    padding: 24px;
    border-radius: 12px;
    max-width: 1000px;
    width: 100%;
}

/* Sidebar */
.sidebar-usuario {
    width: 250px;
    max-width: 250px;
    padding: 15px;
    height: 100vh;
    border-radius: 8px;
}

.layout-usuario {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 32px; /* Espacio entre sidebar y contenido */
    width: 100%;
    max-width: 1400px;
}

.btn-logout {
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ec7979;

}

.btn-logout:hover {
    background-color: #97000094;
}


.lista-lateral {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-lateral li {
    padding: 10px;
    cursor: pointer;
}

.lista-lateral li:hover {
    background-color: #a51414;
}

.lista-lateral a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.lista-lateral li:hover {
    border-bottom: 1px solid #000000;
    background-color: #ffffff63;
    border-radius: 12px;
}


@media screen and (max-width: 900px) {
    .layout-usuario {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .sidebar-usuario {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
    .contenido-usuario {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .container-principal {
        padding: 30px;
    }
    .sidebar-usuario {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
   
}